# WiFi credentials
wifi_ssid: "ARRIS-1C30"
wifi_password: "C863FC731C30"
wifi_fallback_password: "YOUR_FALLBACK_PASSWORD"

# Home Assistant API
api_password: "YOUR_API_PASSWORD"
api_encryption_key: "YOUR_32_BYTE_ENCRYPTION_KEY"

# OTA Updates
ota_password: "YOUR_OTA_PASSWORD"

# Web Server
web_server_username: "admin"
web_server_password: "YOUR_WEB_PASSWORD"

# BLE Thermometers (3x)
thermometer_1_mac: "XX:XX:XX:XX:XX:XX"
thermometer_1_bindkey: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
thermometer_2_mac: "XX:XX:XX:XX:XX:XX"
thermometer_2_bindkey: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
thermometer_3_mac: "XX:XX:XX:XX:XX:XX"
thermometer_3_bindkey: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
